.justbackground{
    background-color: purple;
    width: 100px;
    height: 300px;
    margin-top: 120px;


}
.aaa{
    display: none;
}
.containerone{
    display: flex;
}
.ButtonOne{
    background-color: purple;
}
h1{
    margin-top: 180px;
    margin-left: 100px;
}
.pharagraphOne{
    margin-left: 100px;
}

.containerone img{
    width: 30%;
    height: auto;
    margin-left: 20px;
    
    
}

.containertwo img{
    width: 30%;
    height: auto;
    margin-top: 10%;
    margin-left: 300px;
    
    
}
.containertwo{
    display: flex;
}

h2{
    
    margin-left: 100px;
}
.paragraph{
    color:rgb(59, 59, 59); 
    margin-top: 170px;
    margin-left: 100px;
}
.ButtonTwo{
    margin-left: 100px;
}